.wrapper{
  position: relative;
}

#octopus{
  position: absolute;
  top: 100px;
  margin-left: 530px;
  display: block;
  z-index:1;
}
#glasses{
  position: absolute;
  display: block;
  top: 200px;
  left: 570px;
  z-index: 2
}
#hat{
  position: absolute;
  display: block;
  left: 510px;
  z-index: 3;
}