body{
  outline: 1px solid red;
}

.wrapper{
  position: relative;
}

#octopus{
  outline: 1px solid black;
  position: fixed;
  top: 100px;
  margin-left: 41%;
  display: block;
  z-index:1;
}
#glasses{
  outline: 1px solid black;
  position: fixed;
  display: block;
  top: 32%;
  left: 45%;
  z-index: 2
}
#hat{
  outline: 1px solid black;
  position: fixed;
  display: block;
  left: 40%;
  z-index: 3;
}